ul {
    margin: 0;
    list-style-type: none;
}
li {
    margin: 3px 0;
}
.text {
    padding: 0 5px;
}
.profile-picture {
    margin-top: 10px;
    margin-bottom: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
